<div class="headAcc">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-8 col-sm-4 col-md-offset-9 col-md-3">
        <div class="CallInfo">
          <ul class="nav navbar-nav">
            <li class="dropdown btn-pref">
              <button class="btn btn-default access pull-right collapsed" type="button" data-toggle="collapse" data-target="#accesibilidad" aria-expanded="false"> <i class="fas fa-universal-access"></i> <span class="hidden-xs"> A+ A- | Menú de preferencias</span> </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="head">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-4 nopadding">
        <div class="logo-ips-nav">
          <a href="index.html" title="Volver al inicio">
            <img src="../../assets/img/logo-ips-header.png" alt="Logo IPS" title="Logo IPS">
          </a>
        </div>
        <div class="logo-chileatiende-nav">
          <a href="http://chileatiende.cl/" title="Chile Atiende" target="_blank">
            <img src="../../assets/img/logo-chileatiende-header.png" alt="Logo ChileAtiende" title="Logo ChileAtiende">
          </a>
        </div>
      </div>
      <div class="col-sm-9 col-md-8 nopadding">
      
      </div>
    </div>
  </div>
</div>