@font-face {
    font-family: 'gobCL';
    src: url(../fonts/gobcl_regular.eot);
    src: url(../fonts/gobcl_regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/gobcl_regular.woff) format("woff"),
        url(../fonts/gobcl_regular.ttf) format("truetype"),
        url(../fonts/gobcl_regular.png#gobCL) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobCL';
    src: url(../fonts/gobcl_light.eot);
    src: url(../fonts/gobcl_light.eot?#iefix) format("embedded-opentype"),
        url(../fonts/gobcl_light.woff) format("woff"),
        url(../fonts/gobcl_light.ttf) format("truetype"),
        url(../fonts/gobcl_light.png#gobCL) format("svg");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'gobCL';
    src: url(../fonts/gobcl_bold.eot);
    src: url(../fonts/gobcl_bold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/gobcl_bold.woff2) format("woff2"),
        url(../fonts/gobcl_bold.woff) format("woff"),
        url(../fonts/gobcl_bold.ttf) format("truetype"),
        url(../fonts/gobcl_bold.png#gobCL) format("svg");
    font-weight: bold;
    font-style: normal;
}

img {
    border: 0;
}

.fas, .fab{
    color: #fff;
}

.acce>.fa-universal-access{
    font-size: 63px;
    margin-top: 12px;
}

.modulo-accesibilidad .fas, .modulo-accesibilidad .fab{
    font-size: 33px;
}

.CallInfo .fas.fa-universal-access{
    font-size: 22px;
    color: #fff;
    float: left;
}

.menu-accesibilidad {
    background-color: #0C2339;
    z-index: 0;
    position: relative;
}
.menu-accesibilidad > .container {
    background-color: #0C2339;
}
.menu-accesibilidad .activado .simbolo-activado.check-grises {
   background: url(../img/check-grises.png) center center/contain no-repeat !important;
}
.menu-accesibilidad .activado .simbolo-activado {
   display: block;
   position: absolute;
   width: 1.6em;
   height: 1.6em;
   box-sizing: border-box;
   top: 0;
   right: 25%;
   background: url(../img/check.png) center center/contain no-repeat;
}

div#accesibilidad {
    height: auto;
    margin-top: 10px;
    position: relative;
}
h4.menupref {
    font-size: 30px;
    width: 70%;
    float: left;
    color: #fff;
    text-align: left;
    font-family: 'gobCL';
    font-weight: 200;
    margin-left: 15px;
}

@media (min-width: 1200px){
    .acce {
        width: 22%;
        float: left;
        margin-top: 0px;
    }
}

a.btn_cerrar.cerrar img {
    width: 79%;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: gobCL,Verdana;
    color: #3aa0e1;
}

div#accesibilidad {
    height: auto;
    margin-top: 10px;
    position: relative;
}

.modulo-accesibilidad {
    color: #fff;
    font-size: 16px;
}

.modulo-accesibilidad > ul.list-inline {
    position: relative;
}

.list-inline {
    margin-left: -5px;
}

.text-center {
    font-family: 'gobCL';
    text-align: center;
}

.menu-accesibilidad a.font-control {
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    margin-left: 10px;
    text-indent: -9999%;
    font-size: 20px;
    width: 40px;
    height: 41px;
    background-size: cover;
    display: inline-block;
    padding: 0;
    margin-bottom: 10px;
}

.menu-accesibilidad a.font-control-lg {
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    margin-left: 10px;
    text-indent: -9999%;
    font-size: 20px;
    width: 40px;
    height: 41px;
    background-size: cover;
    display: inline-block;
    padding: 0;
    margin-bottom: 10px;
}

.modulo-accesibilidad a {
    color: #fff;
}

a:active, a:hover {
    outline: 0;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headAcc{
    background-color: #0c2339;
}
.head{
    height: 97px;
    background: white;
}
.btn-pref > button {
    background-color: #0c2339;
    border-left: 1px solid #0c2339;
    border-right: 1px solid #0c2339;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 0;
    height: 30px;
}

.btn-pref > button:hover, .btn-pref > button:active, .btn-pref > button:focus, .btn-pref > button:active:focus {
    background-color: #0c2339;
    border-left: 1px solid #0c2339;
    border-right: 1px solid #0c2339;
}

.CallInfo span {
    color: #fff;
    margin-left: 9px;
    font-size: 14px;
}


.menu-desktop {
    display: inline-block;
    height: 97px;
    float: right;
}

body, p {
    color: #333;
    font-family: 'gobCL';
    font-size: 14px;
}

/*CONSULTA FLOTANTE*/

.consulta-fija,.consulta-fija a{
    width: 50px;
    height: 180px;
    background: rgb(15, 105, 196);
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consulta-fija a:hover{
    background: #0053AB !important;
    text-decoration: none !important;
}
.consulta-fija h2{
    color: #fff;
    font-size: 16px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    white-space:nowrap;
}

/*MENU FIJO*/

.contenedor-header{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.logo-ips-nav{
    z-index: 2;
    float: left;
    margin-top: 8px;
}

.logo-ips-nav img {
    max-height: 80px;
}

.logo-chileatiende-nav{
    width: 160px;
    z-index: 2;
    float: left;
    margin: 8px 0 0 10px;
}

.logo-chileatiende-nav img {
    max-height: 80px;
}

.menu-desktop li:first-child {
    margin-left: 10px;
    border-left: none;
}

.menu-desktop li {
    float: left;
    list-style: none;
    display: table;
    height: 97px;
    font-family: 'gobCL';
    text-align: center;
    transition: color .1s linear;
    border-left: 1px solid #eaeaea;
}

.menu-desktop li {
    background-color: transparent !important;
}

.menu-desktop li.current a,.menu-desktop li a:hover {
    border-bottom: solid 5px #e25752;
}

.menu-desktop li a {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-desktop li a {
    height: 55px;
    display: table-cell;
    text-decoration: none;
    color: #444242;
    transition: color .1s linear;
    vertical-align: middle;
}

.modulo-accesibilidad {
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

/*Banner*/

.bg-familia{
    background: url(../img/banner.jpg) no-repeat;
    background-position: right center;
    background-size: cover;
    min-height: 400px;
    -ms-background-position-x: top;
}
.bg-color{
    background-color: #1E56A0;
    min-height: 400px;
}
.bg-color img{
    display: block;
    margin: 0 auto;
}
.caja-texto-bg-color{
    margin: 25px 0 0 40px;
}
.caja-texto-bg-color h1 {
    color: #fff;
    font-size: 58px;
    font-weight: bolder;
    margin: 50px 0 10px;
    line-height: 58px;
}
.caja-texto-bg-color h1 span {
    font-size: 36px;
    font-weight: normal;
    line-height: 5px;
}
.caja-texto-bg-color p{
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    margin: 0;
}
.caja-texto-bg-color ul{
    padding: 0;
}
.caja-texto-bg-color li{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    list-style: none;
    padding: 0;
}
.caja-texto-bg-color li span{
    font-weight: bolder;
}
.banner{
    margin-right: 0;
    margin-left: 0;
}
.sin-banner{
    padding-top: 120px;
}
/*BOTONES*/

.boton-rojo {
    background: rgb(15, 105, 196);
    width: 340px;
    height: 60px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 4px solid #fff;
    padding: 0;
    margin: 5px 0 40px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-family: 'gobCL';
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

.pequeno{
    width: 100px;
    height: 40px;
    padding: 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-rojo:hover{
    background: #163172;
    border-bottom: 4px solid #fff;
    text-decoration: none;
    color: #fff;
}
.boton-rojo span{
    font-family: 'gobCL';
    font-weight: bold;
}
.boton-beneficios{
    background: rgb(15, 105, 196);
    width: 100%;
    height: 66px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 4px solid #fff;
    padding: 20px 0;
    margin: 20px 0;
    cursor: pointer;    
    font-size: 26px;
    color: #fff;
    font-family: 'gobCL';
    font-weight: normal;
    line-height: 20px;
}
.boton-beneficios:hover{
    background: #163172;
    border-bottom: 4px solid #fff;
    text-decoration: none;
    color: #fff;
}
.boton-beneficios span{
    font-family: 'gobCL';
    font-weight: bold;
}

/*MENSAJES IPS*/

.mensajes-ips{
    background-color: #163172;
    padding: 30px 0;
}

.mensajes-ips p{
    color: #fff;
    font-size: 17px;
    margin: 10px 0 0;
}

.mensajes-ips h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.boton-mensaje-ips{
    background: transparent;
    width: 60%;
    height: 45px;
    border: 2px solid #fff;
    padding: 10px 0;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
    font-family: 'gobCL';
    font-weight: normal;
    text-align: center;
    line-height: 20px;
}
.boton-mensaje-ips:hover{
    background: #163172;
    text-decoration: none;
}
/*Cuerpo home*/

.cuerpo-home{
    margin: 50px auto 0;
}
.texto-derecha{
    text-align: right;
}
.cuerpo-home h2{
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}
.cuerpo-home h3{
    color: #0053ab;
    font-weight: bold;
    font-size: 35px;
    margin: 39px auto 20px;
}
.cuerpo-home h4{
    color: #1E56A0;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0; 
}
.cuerpo-home p{
    font-size: 18px;
    color: #163172;
    line-height: 27px;
}
.cuerpo-home hr{
    width: 100%;
}
.cuerpo-home img{
    max-width: 100%;
}
.cuerpo-home ul{
    padding: 0
}
.cuerpo-home li{
    list-style: none;
    background: #F8FCFF;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    color: #163172;
}
.blanco{
    color: #fff;
}

/*BENEFICIOS*/

.beneficios{
    background: #1E56A0;
    padding: 40px 0;    
}
.beneficios h3{
    color: #fff;
    font-family: 'gobCL';
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

/*GRUPOS COMO SE PAGA*/

.grupos{
    margin: 50px auto;
}
.grupos h3 {
    color: #0053ab;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 20px auto 0;
}
.grupos h4{
    color: #1E56A0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
}
.grupos p {
    font-size: 18px;
    color: #707070;
    line-height: 27px;
    text-align: center;
}
.grupos img{
    margin: 20px auto 30px;
    display: block;
    max-width: 100%;
}

/*FAQS*/

.panel-group .faqs-head:nth-child(odd){
    border-color: #1E56A0;
    border-radius: 0;
}


.panel-group .faqs-head:nth-child(odd) .faqs{
    background: #1E56A0;
    border-color: #1E56A0;
    border-radius: 0;
    padding: 25px 10px;
   
}

.panel-group .faqs-head:nth-child(even){
    border-color: #163172;
    border-radius: 0;
}

.panel-group .faqs-head:nth-child(even) .faqs{
    background: #163172;
    border-color: #163172;
    border-radius: 0;
    padding: 25px 10px;
}

.faqs{
    text-decoration: none !important;
    width: 100%;
    display: block;
    padding-right: 40px;
}

.faqs p{
    font-size: 20px;
    color: #fff !important;
    font-family: 'gobCL';
    font-weight: normal;
    width: 90%;
}

.faqs:hover{
    text-decoration: none !important;
}

.faqs-head .glyphicon{
    color: #fff;
    top: -30px;
    font-size: 21px;
    position: relative;
}

.infobox p{
    font-family: 'gobCL';
    color: #5b5b5f;
    font-size: 13pt;
    margin: 0 0 10px;
    background-color: blue;
}

/*Fin FAQS*/

/*FOOTER*/

.footer{
    background: #173977;
    padding: 100px 0 0;
    position: relative;
}

.redes-footer .fas, .redes-footer .fab{
    font-size: 40px;
}

.link-footer,.link-footer a{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'gobCL';
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}
.iso-footer{
    width: 230px;
    height: 55px;
    background-size: cover;
}
.iconos-footer{
    display: -webkit-box;
    float: right;
}
.iconos-footer li{
    list-style: none;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}
.iconos-footer img{
    max-width: 70px;
    float: right;
}

.redes-footer img{
    width: 60px;
    height: 60px;
}
.enlaces-footer{
    padding: 20px 0;
}


.enlaces-footer a{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'gobCL';
    font-weight: bold;
    font-size: 14px;
}


/*VARIOS*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.mt-5{
    margin-top: 5rem!important;
}
.mb-5{
    margin-bottom: 5rem!important;
}

.menu-afper-movil .fas ,.call .fas{
    color: #0053AB;
    font-size: 45px;
    padding-right: 10px;
}

.exclamacion{
    background-color: #163172;
    padding: 2px 20px !important;
    text-align: right;
}

.iconRojo{
     width: 126px; 
     height: 55px; 
     background: #e63639;
}

.iconAzul{
     width: 104px; 
     height: 55px; 
     background: #096cb4;
}

/*RESPONSIVE MOBILE*/

@media (min-device-width: 992px){
    .caja-texto-bg-color {
        max-width: 520px;
    }

    #que-es, #quienes{
        padding-top: 136px;
    }
}

@media (max-device-width: 991px){
    .exclamacion{
        margin-bottom: 20px !important;
    }
}

@media (max-device-width: 480px){
    .grupo-a,.grupo-b,.grupo-c,.grupo-d,.grupo-importante{
        padding: 30px;
    }
    .grupo-b h2,.grupo-b h4,.grupo-b p,.grupo-d h2,.grupo-d p{
        text-align: left;
    }
    .grupo-importante h4{
        margin-top: 20px;
    }
    .beneficios img{
        max-width: 250px;
        margin: auto;
        display: block;
    }
    .beneficios h3{
        margin-top: 30px;
    }
    .footer{
        padding: 50px 0 0;
    }
    .link-footer{
        display: block;
        margin: 0 0 20px;
        padding: 0;
    }
    .logo-chileatiende-nav{
        margin: 10px 20px;
    }
    .iconos-footer{
        float: none;
        display: block;
        padding: 0;
    }
    .iconos-footer li{
        width: 60px;
        height: 60px;
        margin: 0 20px 0 0;
        float: left;
    }
    .iso-footer img{
        max-height: 40px;
    }
    .consulta-fija{
        display: none;
    }
    .banner{
        margin-top: 0;
    }
    .mensajes-ips h2{
        margin-top: 20px;
    }
    .bg-color{
        min-height: 320px;
    }
    .cuerpo-home{
        margin: 20px auto;
    }
    .cuerpo-home h3{
        font-size: 30px;
        margin: 20px 0;
    }
    .cuerpo-home p{
        text-align: justify;
    }
    .cuerpo-home img{
        display: none;
    }
    .texto-derecha{
        text-align: left;
    }
    .iso-footer{
        width: 25%;
        height: 30px;
        float: left;
    }
    .faqs-1 p,.faqs-2 p{
        width: 80%;
        text-align: left;
    }
    .faqs-head-1 .glyphicon, .faqs-head-2 .glyphicon{
        top: -70px;
    }
    .boton-rojo{
        padding:0;
        width: 90%;
        font-size: 18px;
    }
    .caja-texto-bg-color{
        text-align: center;
    }
    .caja-texto-bg-color h1{
        font-size: 46px;
        margin: 0 0 10px;
    }
    .caja-texto-bg-color h1 span{
        font-size: 20px;
    }
    .grupos h3{
        font-size: 50px;
    }
}
@media screen and (min-width: 481px) and (max-width: 1199px){
    .consulta-fija, .consulta-fija a{
        display: none;
    }
    .logo-ips-nav{
        display: none;
    }
    .cuerpo-home{
        margin: 20px auto;
    }
     .cuerpo-home h3{
        font-size: 30px;
        margin: 20px 0;
    }
    .grupo-a,.grupo-b,.grupo-c,.grupo-d{
        padding: 30px 15px;
    }
    .grupo-a h2, .grupo-b h2, .grupo-c h2, .grupo-d h2{
        font-size: 38px;
    }
    .grupo-a h4, .grupo-b h4, .grupo-importante h4{
        font-size: 30px;
    }
    .grupo-b h2, .grupo-b h4, .grupo-b p, .grupo-d h2, .grupo-d p{
        text-align: left;
    }
    .beneficios{
        padding: 40px 0;
    }
    .beneficios img{
        margin: auto;
        display: block;
    }
    .footer{
        padding: 50px 0 0;
    }
    .iconos-footer{
        float: left;
        padding: 0;
        margin: 0;
    }
    .iconos-footer li{
        margin: 10px 20px 10px 0;
        width: 70px;
        height: 70px;
    }
    .caja-texto-bg-color{
        text-align: center;
        margin: 10px 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .acce>.fa-universal-access {
        display: none;
    }

        .caja-texto-bg-color h1 span{
        font-size: 20px;
    }

    #que-es, #quienes{
        padding-top: 136px;
    }
}

@media screen and (min-width: 981px) and (max-width: 991px){
    .bg-familia{
        display: none;
    }
}
/* Clases solo Desktop*/
@media (min-device-width: 768px){

    /*BANNER*/
    .banner{
        margin: 120px 0 0 0;
    }
    .link-footer{
        display: -webkit-box;
        margin-top: 25px;
        padding: 0;
    }
}


/* Clases solo para moviles y tables*/
@media (max-device-width: 767px){

    /*head movil*/

    .head-movil{
        float: right;
    }

    .call{
        position: relative;
        float: left;
        padding: 20px 10px 0px 0px; 
    }

    .call img{
        height: 60px;
        width: 60px;
    }

    .menu-afper-movil{
        float: left;
        padding: 0 !important;
        height: 60px;
        width: 60px;
        border-radius: 0 !important;
        margin: 20px 0px 0px 0px;
        border:0;
    }

    /*menu navegacion movil*/
   

    .contentNexusMenu .navbar-collapse {
        padding: 0 !important;
        border-bottom: 1px solid #c6d0da;
        text-align: left;
        font-size: 18px;
        line-height: 60px !important;
        top: -1px;
        position: relative;
    }

    .contentNexusMenu ul.nav {
        margin: 0;
        padding: 0;
        background: #fff;
        color: #5f6f81;
        list-style: none;
        text-transform: none;
        font-weight: 300;
        line-height: 60px;
    }
    .contentNexusMenu ul.nav li a{
        color: #5f6f81;
    }

    .itemMenu1 {
        background-color: #C2C3C9;
    }

    .itemMenu2 {
        background-color: #D8D9DD;
    }

    .itemMenu3 {
        background-color: #EDEEF0;
    }

    .itemMenu4 {
        background-color: #F7F7F8;
    }

    /*banner*/
    .mensajes-ips h2{
        margin-top: 20px;
    }

    /*footer*/
    .link-footer{
        padding: 0;
    }
    .link-footer li, .link-footer li a{
        font-size: 18px;
        margin: 0 0 10px;
    }
    .caja-texto-bg-color{
        margin: 40px 0 0;
    }
    .texto-derecha{
        text-align: left;
    }
    .bg-color{
        min-height: 430px;
    }
    .sin-banner{
    padding-top: 0;
    }

    .logo-chileatiende-nav img {
        max-height: 65px;
    }
}

@media (max-device-width: 375px){
    .contentNexusMenu .col-xs-4, .contentNexusMenu .col-xs-8{
        padding: 0;
    }    
}